.card {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 24px;
  border: solid 2px #cccccc;
  overflow: hidden;

  .level {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    color: #f5f5f5;
    margin: 0;
  }

  .infoContainer {
    margin-left: 24px;
    margin-top: 32px;
  }

  .junior {
    background: #6f97ff;
  }

  .middle {
    background: #2871ee;
  }

  .senior {
    background: #0045bc;
  }

  .position {
    margin-bottom: 0;
    color: #2871ee;
    font-family: "Bartina";
    font-size: 1.5rem;
  }

  .author {
    font-size: 0.75rem;
    span {
      font-size: 0.75rem;
      color: #2871ee;
    }
  }

  .statsContainer {
    margin-left: 24px;
    display: flex;
    p {
      margin-top: 3px;
      margin-bottom: 0;
      color: #797979;
      font-size: 0.75rem;
    }
  }

  .rating {
    display: flex;
  }

  .reviews {
    width: 70%;
    display: flex;
    margin-left: 8px;
  }

  .purchase {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.125rem;
    margin-top: 58px;
    align-items: center;

    p {
      margin: 0;
    }

    button {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 24px;
      padding-left: 24px;
      color: #f5f5f5;
      background: #2871ee;
      border-radius: 32px;
      font-weight: bold;
    }
  }
}

.wide {
  width: 360px;
}
