.courseType {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  z-index: 0;
  // overflow: hidden;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .back {
    position: absolute;
    top: 65%;
    left: 0;
  }

  .forward {
    position: absolute;
    top: 65%;
    right: 0;
  }

  .bg {
    position: absolute;
    z-index: -1;
  }

  .title {
    margin-top: 0;
    max-width: 44rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Bartina";
    font-size: 4rem;
    color: #2871ee;
  }

  .content {
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    gap: 3.4%;
  }

  .pageButtons {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    button {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}

.popularCourses {
  position: relative;
  display: flex;
  flex-direction: column;
  .back {
    top: 60%;
  }
  .forward {
    top: 60%;
  }
}

.reviews {
  background: #6f97ff;
  margin-top: 100px;
  border-radius: 32px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;

  .back {
    background: white;
    border-radius: 24px;
    left: auto;
    top: 49.5px;
    right: 96px;

    img {
      padding: 6px;
    }
  }

  .forward {
    background: white;
    border-radius: 24px;
    top: 49.5px;
    right: 32px;

    img {
      padding: 6px;
    }
  }

  .bg {
    top: 0;
    right: 172px;
  }

  .title {
    margin-left: 32px;
    color: white;
  }

  .content {
    margin-top: -45px;
    width: 94%;
    gap: 2%;
  }
}
